<div class="dashboard">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1> Welcome! </h1>
      <hr>
    </div>
  </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= link_to users_path do %>
          <button type="button" class="btn btn-primary btn-lg btn-block"> User Account </button>
        <% end %>
      </div>
    </div>

  <hr>
</div>
